
.icon-globe:before { content: '\e800'; } /* '' */
.icon-compas:before { content: '\e801'; } /* '' */
.icon-plane:before { content: '\e802'; } /* '' */
.icon-buoy:before { content: '\e803'; } /* '' */
.icon-ancer:before { content: '\e804'; } /* '' */